{% extends 'Base.html'%}

{% load static %}

{% block content %}
    <!-- Page Content -->
    <div class="page-heading about-heading header-text" style="background-image: url({% static 'assets/images/heading-2-1920x500.jpg' %});">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>Lorem ipsum dolor</h4>
              <h2>Our Team Members</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="team-members">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <!-- <img src="{% static 'assets/images/team_01.jpg' %}" alt=""> -->
                <div class="hover-effect">
                  <div class="hover-content">
                    <!-- <ul class="social-icons">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul> -->
                  </div>
                </div>
              </div>
              <div class="down-content">
                <h4>ABUBAKAR SADIQ ZAKARIYA</h4>
                <span>GROUP LEADER</span>
                <p>CST\18\COM\00118</p>
                <p>07068588733</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <!-- <img src="{% static 'assets/images/team_02.jpg' %}" alt=""> -->
                <div class="hover-effect">
                  <div class="hover-content">
                    <!-- <ul class="social-icons">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul> -->
                  </div>
                </div>
              </div>
              <div class="down-content">
                <h4>GIFT SUNDAY ONUH</h4>
                <span>MEMBER</span>
                <p>CST\18\COM\00106</p>
                <p>07060502830</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <!-- <img src="{% static 'assets/images/team_03.jpg' %}" alt=""> -->
                <div class="hover-effect">
                  <div class="hover-content">
                    <!-- <ul class="social-icons">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul> -->
                  </div>
                </div>
              </div>
              <div class="down-content">
                <h4>ISMAILA AISHAT NINMO</h4>
                <span>MEMBER</span>
                <P>CST\18\COM\00058</P>
                <p>08145401957</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <!-- <img src="{% static 'assets/images/team_04.jpg' %}" alt=""> -->
                <div class="hover-effect">
                  <div class="hover-content">
                    <!-- <ul class="social-icons">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul> -->
                  </div>
                </div>
              </div>
              <div class="down-content">
                <h4>MUSA GARBA AHMED</h4>
                <span>MEMBER</span>
                <p>CST\19\COM\00420</p>
                <P>08036572842</P>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <!-- <img src="{% static 'assets/images/team_05.jpg' %}" alt=""> -->
                <div class="hover-effect">
                  <div class="hover-content">
                    <!-- <ul class="social-icons">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul> -->
                  </div>
                </div>
              </div>
              <div class="down-content">
                <h4>ABUBAKAR BABAYO AHMAD</h4>
                <span>MEMBER</span>
                <p>CST\18\IFT\00118</p>
                <P>08106780455</P>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <!-- <img src="{% static 'assets/images/team_06.jpg' %}" alt=""> -->
                <div class="hover-effect">
                  <div class="hover-content">
                    <!-- <ul class="social-icons">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul> -->
                  </div>
                </div>
              </div>
              <div class="down-content">
                <h4>ABDULWAHAB ALAMIN</h4>
                <span>MEMBER</span>
                <p>CST\18\COM\00120</p>
                <P>08142307471</P>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <!-- <img src="{% static 'assets/images/team_06.jpg' %}" alt=""> -->
                <div class="hover-effect">
                  <div class="hover-content">
                    <!-- <ul class="social-icons">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul> -->
                  </div>
                </div>
              </div>
              <div class="down-content">
                <h4>ABDUSSAMAD AMINU SADI</h4>
                <span>MEMBER</span>
                <p>CST\18\SWE\00152</p>
                <p>09019819609</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <!-- <img src="{% static 'assets/images/team_06.jpg' %}" alt=""> -->
                <div class="hover-effect">
                  <div class="hover-content">
                    <!-- <ul class="social-icons">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul> -->
                  </div>
                </div>
              </div>
              <div class="down-content">
                <h4>MARDIYYA MOHAMMED GARBA</h4>
                <span>MEMBER</span>
                <p>CST\18\COM\00071</p>
                <p>08036137031</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <!-- <img src="{% static 'assets/images/team_06.jpg' %}" alt=""> -->
                <div class="hover-effect">
                  <div class="hover-content">
                    <!-- <ul class="social-icons">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul> -->
                  </div>
                </div>
              </div>
              <div class="down-content">
                <h4>ABDULLAHI MUHAMMAD BAWA</h4>
                <span>MEMBER</span>
                <p>CST\19\COM\00401</p>
                <p>08135554953</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <!-- <img src="{% static 'assets/images/team_06.jpg' %}" alt=""> -->
                <div class="hover-effect">
                  <div class="hover-content">
                    <!-- <ul class="social-icons">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul> -->
                  </div>
                </div>
              </div>
              <div class="down-content">
                <h4>ABDURRAHMAN USMAN</h4>
                <span>MEMBER</span>
                <p>CST\19\COM\00427</p>
                <p>07069202102</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}